#!/usr/bin/env bash

export BASEDIR=$(git rev-parse --show-toplevel)
export PULUMI_CONFIG_PASSPHRASE_FILE="$BASEDIR/.passphrase"

# Poetry
poetry install
VENV="$(poetry env info --path)"

# Install pre-commit hook
if [ ! -f ".git/hooks/pre-commit" ]; then
    ./.venv/bin/pre-commit install
fi
